* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "News Cycle", sans-serif;
  font-size: 1em;
}

.clear {
  clear: both;
}
body {
  background-color: #eeeeee;
}
.bloc-centre {
  max-width: 1000px;
  margin: auto;
  /*padding: 3%;*/
}

header {
  max-width: 1000px;
  margin:auto;
}

h1 {
  float: left;
  font-size: 2em;
  color: #2b3f48;
  padding-bottom: 2%;
}
main {
  text-align: center;
}
h2 {
  font-size: 3.2em;
  padding: 2%;
}
h3 {
  font-weight: lighter;
}



#homepage {
  color:#31aa65;
}
ul {
  list-style-type: none;
  float: right;
  margin-top: 2%;
}
ul li {
  float: left;
}
ul li a{
  color: #2b3f48;
  text-decoration: none;
  padding:20px;
}



.largeurbanner {
  background-image: url(banner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-color: #31aa65;
}
.largeur {
  background-color: #31aa65;
}
.largeurblanc {
  background-color:#eeeeee;
}
.banner {
  color:#ffffff;
}
.photo {
  display:inline-block;
}

@media (max-width: 480px) {
  .photo {
    display: none;
  }
}

span img {
  border-radius: 100%;
  padding: 4%;
  width:30%;
}
.sectionone {
  color: #2b3f48;
}
.sectionbis {
  color:#ffffff;
}



#button {
  padding:5%;
}
button {
  border-radius: 5px;
  border: 0px;
  padding: 1%;
  padding-left: 4%;
  padding-right: 4%;
}
button a {
  text-decoration: none;
  color:inherit;
}
#gris {
  color:#fff;
  background-color: #2b3f48;

}
#vert {
  color:#fff;
  background-color: #31aa65;
}
#blanc {
  color:#31aa65;
  background-color: #fff;
}



p {
  /*padding: 5%;*/
  word-spacing: 3px;
  line-height: 30px;
}
footer {
  text-align: center;
  padding: 4%;
}
